[submodule "dx-runtime"]
	path = dx-runtime
	url = https://github.com/DEEPX-AI/dx-runtime.git
	ignore = dirty
[submodule "dx-compiler"]
	path = dx-compiler
	url = https://github.com/DEEPX-AI/dx-compiler.git
	ignore = dirty
[submodule "dx-modelzoo"]
	path = dx-modelzoo
	url = https://github.com/DEEPX-AI/dx-modelzoo.git
	ignore = dirty
